*{
    margin: 0;
    padding: 0;
}
.fundo
{
    background-image: linear-gradient(45deg, black, rgb(23, 202, 178));
    height: 100vh;
    color: rgb(255, 255, 255);
    text-align: center;

}
.Calculadora
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 20px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.botao
{
    background-color: rgb( 32, 32, 32);
    width: 50px;
    height: 50px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-color: rgb( 32, 32, 32);
    border-radius: 5px;
    margin: 3px;
}
.botao:hover
{
    background-color: rgba(0, 0, 0);
}
#resultado
{
    width: 220px;
    height: 25px;
    background-color: white;
    text-align: right;
    font-size: 25px;
    color: black;
    padding: 5px;
}
.rodape
{
    background-image: linear-gradient(45deg, black, rgb(23, 202, 178));
    color: rgb(255, 255, 255);
    text-align: center;
}